body {
    background-color: var(--bs-black);
    color: #eee;
    overflow-x: hidden;
}

.dev {
    outline: 1px solid red;
}

#app {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
