
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Allan&family=Amita:wght@400;700&display=swap');

:root{
  --font-h1: "Josefin Sans", sans-serif;
  --font-h2: "Amita", serif;
  --font-h3: "Allan", serif;
}

.btn-action {
  border: 1px solid #444;
  padding-inline: .5rem;
  border-radius: .5rem;
  line-height: 100%;
  height: 2rem;
}

.btn-icon {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  & .icon {
    margin: .5rem;
    opacity: 0.8;
  }
  &:hover {
    & .icon { opacity: 1.0; }
  }
  &:disabled {
    filter: brightness(0.3);
  }
}

.icon {
  position: relative;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
}

.icon-shown { background-image: url("../img/i_shown.png"); }
.icon-hidden { background-image: url("../img/i_hidden.png"); filter: brightness(0.75) }
.icon-trashcan { background-image: url("../img/i_trashcan.png"); }
.icon-moveup { background-image: url("../img/i_moveup.png"); }
.icon-movedown { background-image: url("../img/i_movedown.png"); }
.icon-edit { background-image: url("../img/i_edit.png"); }

.traffic-light {
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
}

.fs-title {

  user-select: none;
  color: #aaa;
  text-align: center;

  margin-bottom: 1rem;
  
  transform-origin: top center;
  transform: perspective(90px) rotateX(10deg);
  
  & h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

  & .fs-title-wrapper {

    overflow: hidden;
    margin-bottom: -.05vw;
    background: linear-gradient(90deg, #424242, #646464 20%, #646464 80%, #424242);
    width: 150%;
    margin-left: -25%;
    border-bottom: 1px solid #999;

    & h2 {
      font-family: var(--font-h2);
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: -1.125rem;
      margin-left: -12.5rem;
    }
  
    & h1 { 
      font-family: var(--font-h1);
      font-variant: small-caps;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: .15rem;
      color: #fff;
      text-shadow: 0 0 .6rem #fff7;
      margin-top: .5rem;
      margin-bottom: -.65rem;
    }
  }
  
  & .fs-subtitle-wrapper {

    overflow: hidden;
    transform-origin: top center;
    transform: perspective(90px) rotateX(-20deg);
    background: linear-gradient(90deg, #323232, #484848 20%, #484848 80%, #323232);
    width: auto;
    margin-left: 0;

    & h3 {
      font-family: var(--font-h3);
      font-variant: small-caps;
      font-size: .75rem; 
      letter-spacing: .16rem;
      margin-top: -.2rem;
    }
  }
}

.light-list-item {
  border-block: 1px solid #4448;
  &:hover {
    border-color: #5558;
    background: #3334;
  }
  &.active {
    background: #5556;
  }
}


/* TABLET */
@media (min-width: 768px) {

  .fs-title {

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 3.5vw;
    padding: 1rem 0;
  
    transform: perspective(90px) rotateX(15deg);

    & .fs-title-wrapper {

      flex-direction: column;
      margin-bottom: -.05vw;
      background: linear-gradient(90deg, #0000, #646464 20%, #646464 80%, #0000);
      width: 125%;
      margin-left: -12.5%;

      & h2 {
        font-size: 2.25vw;
        margin-bottom: -3vw;
        text-align: left;
        margin-left: 17.3vw;
        scale: 1 .75;
      }
    
      & h1 { 
        font-size: 6vw;
        letter-spacing: .225vw;
        margin-top: 1.25vw;
        margin-bottom: -1.7vw;
    
        padding-inline: 6vw;
      }
    }
  
    & .fs-subtitle-wrapper {
  
      transform: perspective(90px) rotateX(-30deg);
      background: linear-gradient(90deg, #0000, #484848 20%, #484848 80%, #0000);

      & h3 {
        font-size: 1.5vw; 
        letter-spacing: .42vw;
        margin-top: -.15vw;
      }
    }

  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  
  .fs-title {
    
    padding: 2rem 0 1rem 0;
    margin-bottom: 3rem;
  
    & .fs-title-wrapper {
  
      margin-bottom: -.05rem;
      width: 150%;
      margin-left: -25%;
      
      & h2 {
        font-size: 1.5rem;
        margin-bottom: -2.3rem;
        margin-left: 16.6rem;
      }
    
      & h1 { 
        font-size: 4rem;
        text-shadow: 0 0 .6rem #fff7;
        margin-top: 1rem;
        margin-bottom: -1.1rem;
        padding-inline: 4rem;
      }
    }
  
    & .fs-subtitle-wrapper {
  
      & h3 {
        font-size: 1rem; 
        letter-spacing: .31rem;
        margin-top: -.1rem;
      }
    }
  }
}
